<div>
    <%result.forEach(element => {%>
        <p><%=element.name%></p>
        <p><%=element.house%></p>
        <a href="<%=element.id%>">view more about char</a>

    

        <p>-------------------------------------</p>

   <% })%>
</div>